body {
    font-family: Roboto, sans-serif;
    background-color: #FFFACD;
    color: #333;
    line-height: 1.6;
    margin: 20px;
}
h1, h2 {
    font-family: 'Montserrat', sans-serif;
    color: #1E90FF;
}
h1 {
    text-align: center;
}
section {
    margin-bottom: 30px;
    }
ul {
    margin-left: 20px;
}
.wireframe {
    border: 2px dashed #1E90FF;
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    font-style: italic;
    color: #555;
}
